Data Cleaning

In [26]:
#Environment Setup

import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore')

In [27]:
pd.options.display.max_columns = None
credit_df = pd.read_csv('D:/Off Campus/Projects/Credit Risk Modelling/Data/Loan Data/loan_data_2007_2014.csv')
credit_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Handling Null Values

credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

In [29]:
null_vals = credit_df.isnull().mean()
null_vals[null_vals >0.5]

# Dropping only columns with no values at all eventhough some columns have more than 70% null values 
# This is because not all features are applicable to all customers.

desc                           0.729815
mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
mths_since_last_major_derog    0.787739
annual_inc_joint               1.000000
dti_joint                      1.000000
verification_status_joint      1.000000
open_acc_6m                    1.000000
open_il_6m                     1.000000
open_il_12m                    1.000000
open_il_24m                    1.000000
mths_since_rcnt_il             1.000000
total_bal_il                   1.000000
il_util                        1.000000
open_rv_12m                    1.000000
open_rv_24m                    1.000000
max_bal_bc                     1.000000
all_util                       1.000000
inq_fi                         1.000000
total_cu_tl                    1.000000
inq_last_12m                   1.000000
dtype: float64

In [30]:
# Deleting columns with no values

null_cols = null_vals[null_vals ==1.0]
credit_df.drop(columns = null_cols.index, inplace = True)

In [31]:
# Deleting columns not required for the model

credit_df.drop(columns = ['id', 'member_id', 'sub_grade', 'emp_title', 'url', 'desc', 'earliest_cr_line', 'last_credit_pull_d',
                          'purpose', 'title', 'zip_code', 'addr_state','collection_recovery_fee', 'policy_code', 'application_type'], inplace = True)

In [32]:
# Extracting numeric information from variables by stripping off the strings

credit_df['term'] = pd.to_numeric(credit_df['term'].str.replace('months', ''))

credit_df['emp_length'] = credit_df['emp_length'].str.replace('< 1 year', '1')
replacements = '|'.join(['\+ years', ' years', ' year'])
credit_df['emp_length'] = credit_df['emp_length'].str.replace(replacements, '')

credit_df['emp_length'] = pd.to_numeric(credit_df['emp_length'])

In [33]:
# Imputation

credit_df['emp_length'].fillna(value=0, inplace=True)
credit_df['emp_length'].isna().sum()

0

In [34]:
credit_df['last_pymnt_d'].loc[:].isnull().sum()

376

In [35]:
# While the columns being dropped hold information, they are being dropped because either they have high null values or imputation would make it applicable to all customers which is not possible

credit_df.drop(columns=['mths_since_last_delinq', 'mths_since_last_record', 'revol_util', 'next_pymnt_d', 'mths_since_last_major_derog', 'tot_cur_bal' , 'total_rev_hi_lim'], inplace=True)

'''
For example: for no record of 'mths_since_last_delinq' (months since last delinquency), imputation with Value = 0 would mean the customers' latest delinqunecy happened in the current month. 
Imputation with a central tendency would be incompatible with data of customers whose loans are already paid or charged of
'''

credit_df.dropna(subset=['last_pymnt_d'], inplace=True)

# Null values in 'last_pymnt_d' (Last payment date) is low and therefore we drop the rows with no last payment dat and retain the valuable information

In [36]:
# Imputation of columns that are logically applicable to all customers

credit_df.fillna({'delinq_2yrs':0, 'inq_last_6mths':0, 'open_acc':0, 'pub_rec':0, 'tot_coll_amt':0, 'acc_now_delinq':0, 'collections_12_mths_ex_med':0}, inplace=True)
credit_df['total_acc'].fillna(value=round(credit_df['total_acc'].mean(),0), inplace=True)
credit_df['annual_inc'].fillna(value=round(credit_df['annual_inc'].mean(),2), inplace=True)

In [37]:
# Handling categorical data 

columns_list = ['grade', 'home_ownership', 'verification_status', 'pymnt_plan', 'initial_list_status']
df_dummies = []

for col in columns_list:
    df_dummies.append(pd.get_dummies(credit_df[col], prefix = col, prefix_sep = ': '))

df_dummies = pd.concat(df_dummies, axis = 1)
credit_df = pd.concat([credit_df, df_dummies], axis = 1)

In [38]:
credit_df = credit_df.drop(columns=columns_list)

In [39]:
# Handling date columns 

date_columns = ['issue_d', 'last_pymnt_d']

# credit_df['last_pymnt_d'] = pd.to_datetime(credit_df['last_pymnt_d'], format='%b-%y')

for i in date_columns:
    credit_df[i] = pd.to_datetime(credit_df[i], format='%b-%y')

In [40]:
# Calculating the duration of customer bank credit relationship 

credit_df['punctuality'] = round(pd.to_numeric((credit_df['last_pymnt_d'] - credit_df['issue_d']) / np.timedelta64(1, 'M')))

In [41]:
credit_df = credit_df.drop(columns=['last_pymnt_d'])

# Retaining issue date to include Inflation data

In [42]:
# Preparing target Variable

credit_df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [43]:
credit_df['Non Performing'] = np.where(credit_df.loc[:, 'loan_status'].isin(['Charged Off', 'Default', 'Late (31-120 days)', 'Late (16-30 days)', 'In Grace Period',
                                                               'Does not meet the credit policy. Status:Charged Off']), 1, 0)

In [44]:
credit_df = credit_df.drop(columns=['loan_status'])

In [45]:
credit_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,annual_inc,issue_d,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_amnt,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,grade: A,grade: B,grade: C,grade: D,grade: E,grade: F,grade: G,home_ownership: ANY,home_ownership: MORTGAGE,home_ownership: NONE,home_ownership: OTHER,home_ownership: OWN,home_ownership: RENT,verification_status: Not Verified,verification_status: Source Verified,verification_status: Verified,pymnt_plan: n,pymnt_plan: y,initial_list_status: f,initial_list_status: w,punctuality,Non Performing
0,5000,5000,4975.0,36,10.65,162.87,10.0,24000.0,2011-12-01,27.65,0.0,1.0,3.0,0.0,13648,9.0,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,171.62,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,37.0,0
1,2500,2500,2500.0,60,15.27,59.83,1.0,30000.0,2011-12-01,1.00,0.0,5.0,3.0,0.0,1687,4.0,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,119.66,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,16.0,1
2,2400,2400,2400.0,36,15.96,84.33,10.0,12252.0,2011-12-01,8.72,0.0,2.0,2.0,0.0,2956,10.0,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,649.91,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,30.0,0
3,10000,10000,10000.0,36,13.49,339.31,10.0,49200.0,2011-12-01,20.00,0.0,1.0,10.0,0.0,5598,37.0,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,357.48,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,37.0,0
4,3000,3000,3000.0,60,12.69,67.79,1.0,80000.0,2011-12-01,17.94,0.0,0.0,15.0,0.0,27783,38.0,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,67.79,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,49.0,0

In [46]:
credit_df.isnull().sum()

loan_amnt                               0
funded_amnt                             0
funded_amnt_inv                         0
term                                    0
int_rate                                0
installment                             0
emp_length                              0
annual_inc                              0
issue_d                                 0
dti                                     0
delinq_2yrs                             0
inq_last_6mths                          0
open_acc                                0
pub_rec                                 0
revol_bal                               0
total_acc                               0
out_prncp                               0
out_prncp_inv                           0
total_pymnt                             0
total_pymnt_inv                         0
total_rec_prncp                         0
total_rec_int                           0
total_rec_late_fee                      0
recoveries                              0
last_pymnt_amnt                         0
collections_12_mths_ex_med              0
acc_now_delinq                          0
tot_coll_amt                            0
grade: A                                0
grade: B                                0
grade: C                                0
grade: D                                0
grade: E                                0
grade: F                                0
grade: G                                0
home_ownership: ANY                     0
home_ownership: MORTGAGE                0
home_ownership: NONE                    0
home_ownership: OTHER                   0
home_ownership: OWN                     0
home_ownership: RENT                    0
verification_status: Not Verified       0
verification_status: Source Verified    0
verification_status: Verified           0
pymnt_plan: n                           0
pymnt_plan: y                           0
initial_list_status: f                  0
initial_list_status: w                  0
punctuality                             0
Non Performing                          0
dtype: int64

In [47]:
credit_df.to_csv('D:/Off Campus/Projects/Credit Risk Modelling/Data/Loan Data/Cleaned_Data.csv')

With no null values and target variable treated, the cleaned dataset is ready for model implementation