Data Merger

In [475]:
#Environment Setup

import numpy as np
import pandas as pd
import warnings

In [476]:
pd.options.display.max_columns = None
warnings.simplefilter(action='ignore')

In [477]:
credit_df = pd.read_csv('D:/Off Campus/Projects/Credit Risk Modelling/Data/Loan Data/Cleaned_Data.csv')
credit_df = credit_df.drop('Unnamed: 0', axis=1)
credit_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,annual_inc,issue_d,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_amnt,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,grade: A,grade: B,grade: C,grade: D,grade: E,grade: F,grade: G,home_ownership: ANY,home_ownership: MORTGAGE,home_ownership: NONE,home_ownership: OTHER,home_ownership: OWN,home_ownership: RENT,verification_status: Not Verified,verification_status: Source Verified,verification_status: Verified,pymnt_plan: n,pymnt_plan: y,initial_list_status: f,initial_list_status: w,punctuality,Non Performing
0,5000,5000,4975.0,36,10.65,162.87,10.0,24000.0,2011-12-01,27.65,0.0,1.0,3.0,0.0,13648,9.0,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,171.62,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,37.0,0
1,2500,2500,2500.0,60,15.27,59.83,1.0,30000.0,2011-12-01,1.00,0.0,5.0,3.0,0.0,1687,4.0,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,119.66,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,16.0,1
2,2400,2400,2400.0,36,15.96,84.33,10.0,12252.0,2011-12-01,8.72,0.0,2.0,2.0,0.0,2956,10.0,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,649.91,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,30.0,0
3,10000,10000,10000.0,36,13.49,339.31,10.0,49200.0,2011-12-01,20.00,0.0,1.0,10.0,0.0,5598,37.0,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,357.48,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,37.0,0
4,3000,3000,3000.0,60,12.69,67.79,1.0,80000.0,2011-12-01,17.94,0.0,0.0,15.0,0.0,27783,38.0,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,67.79,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,49.0,0

In [478]:
CPI_df = pd.read_excel('D:/Off Campus/Projects/Credit Risk Modelling/Data/Macroeconomic Data/CPI(U).xlsx')
CPI_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,2007,202.416,203.499,205.352,206.686,207.949,208.352,208.299,207.917,208.490,208.936,210.177,210.036,205.709,208.976
1,2008,211.080,211.693,213.528,214.823,216.632,218.815,219.964,219.086,218.783,216.573,212.425,210.228,214.429,216.177
2,2009,211.143,212.193,212.709,213.240,213.856,215.693,215.351,215.834,215.969,216.177,216.330,215.949,213.139,215.935
3,2010,216.687,216.741,217.631,218.009,218.178,217.965,218.011,218.312,218.439,218.711,218.803,219.179,217.535,218.576
4,2011,220.223,221.309,223.467,224.906,225.964,225.722,225.922,226.545,226.889,226.421,226.230,225.672,223.598,226.280
5,2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601,228.850,230.338
6,2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049,232.366,233.548
7,2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812,236.384,237.088
8,2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525,236.265,237.769

In [479]:
Inflation_CPI_df = pd.DataFrame(columns=['Year', 'Inflation CPI'])
Inflation_CPI_df['Year'] = CPI_df['Year']

Inflation Rate = [CPI(n+1) - CPI(n) * 100] / CPI(n)

In [480]:
for i in range(len(CPI_df)-1):
    Inflation_CPI_df['Inflation CPI'].iloc[i] = (CPI_df.drop(columns=['Year', 'HALF1', 'HALF2']).iloc[i+1].sum() - CPI_df.drop(columns=['Year', 'HALF1', 'HALF2']).iloc[i].sum())*100 / CPI_df.drop(columns=['Year', 'HALF1', 'HALF2']).iloc[i].sum()

Inflation_CPI_df['Inflation CPI'] = Inflation_CPI_df['Inflation CPI'].astype(np.float64)
Inflation_CPI_df = Inflation_CPI_df[:-1]

In [481]:
Inflation_CPI_df

   Year  Inflation CPI
0  2007       3.839100
1  2008      -0.355546
2  2009       1.640043
3  2010       3.156842
4  2011       2.069337
5  2012       1.464833
6  2013       1.622223
7  2014       0.118627

In [482]:
credit_df['issue_d'] = credit_df['issue_d'].str.split('-').str[0]
credit_df['issue_d'] = credit_df['issue_d'].astype(np.int64)

In [483]:
credit_df['Inflation CPI Rate'] = credit_df['issue_d'].apply(lambda x: Inflation_CPI_df[Inflation_CPI_df['Year'] == x]['Inflation CPI'].values[0])

In [484]:
credit_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,annual_inc,issue_d,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_amnt,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,grade: A,grade: B,grade: C,grade: D,grade: E,grade: F,grade: G,home_ownership: ANY,home_ownership: MORTGAGE,home_ownership: NONE,home_ownership: OTHER,home_ownership: OWN,home_ownership: RENT,verification_status: Not Verified,verification_status: Source Verified,verification_status: Verified,pymnt_plan: n,pymnt_plan: y,initial_list_status: f,initial_list_status: w,punctuality,Non Performing,Inflation CPI Rate
0,5000,5000,4975.0,36,10.65,162.87,10.0,24000.0,2011,27.65,0.0,1.0,3.0,0.0,13648,9.0,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,171.62,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,37.0,0,2.069337
1,2500,2500,2500.0,60,15.27,59.83,1.0,30000.0,2011,1.00,0.0,5.0,3.0,0.0,1687,4.0,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,119.66,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,16.0,1,2.069337
2,2400,2400,2400.0,36,15.96,84.33,10.0,12252.0,2011,8.72,0.0,2.0,2.0,0.0,2956,10.0,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,649.91,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,30.0,0,2.069337
3,10000,10000,10000.0,36,13.49,339.31,10.0,49200.0,2011,20.00,0.0,1.0,10.0,0.0,5598,37.0,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,357.48,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,37.0,0,2.069337
4,3000,3000,3000.0,60,12.69,67.79,1.0,80000.0,2011,17.94,0.0,0.0,15.0,0.0,27783,38.0,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,67.79,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,49.0,0,2.069337

In [485]:
credit_df = credit_df.drop(columns=['issue_d'])

In [486]:
credit_df.to_csv("D:/Off Campus/Projects/Credit Risk Modelling/Data/Loan Data/Merged_Data.csv")